#drupal-area { background-color: #4dafff; }
#header-major { background-color: #4dafff; }
#header-minor { background-color: #f3f3f3; }
#content-top { background-color: #f3f3f3; }
#content { background-color: #f3f3f3; }
#content-bottom { background-color: #f3f3f3; }
#footer { background-color: #f3f3f3; }
#sidebar-admin { background-color: #f3f3f3; }
#sidebar { background-color: #f3f3f3; }
#drupal-area h2 { color: #000000; }
#header-major h2 { color: #000000; }
#header-minor h2 { color: #000000; }
#content-top h2 { color: #000000; }
#content h2 { color: #000000; }
#content-bottom h2 { color: #000000; }
#footer h2 { color: #000000; }
#sidebar-admin h2 { color: #000000; }
#sidebar h2 { color: #000000; }
#drupal-area h3 { color: #000000; }
#header-major h3 { color: #000000; }
#header-minor h3 { color: #000000; }
#content-top h3 { color: #000000; }
#content h3 { color: #000000; }
#content-bottom h3 { color: #000000; }
#footer h3 { color: #000000; }
#sidebar-admin h3 { color: #000000; }
#sidebar h3 { color: #000000; }
#drupal-area h4 { color: #000000; }
#header-major h4 { color: #000000; }
#header-minor h4 { color: #000000; }
#content-top h4 { color: #000000; }
#content h4 { color: #4dafff; }
#content-bottom h4 { color: #000000; }
#footer h4 { color: #000000; }
#sidebar-admin h4 { color: #000000; }
#sidebar h4 { color: #000000; }
#drupal-area p { color: #000000; }
#header-major p { color: #000000; }
#header-minor p { color: #000000; }
#content-top p { color: #000000; }
#content p { color: #000000; }
#content-bottom p { color: #000000; }
#footer p { color: #000000; }
#sidebar-admin p { color: #000000; }
#sidebar p { color: #000000; }
#drupal-area a { color: #ca1404; }
#header-major a { color: #ca1404; }
#header-minor a { color: #ca1404; }
#content-top a { color: #ca1404; }
#content a { color: #ca1404; }
#content-bottom a { color: #ca1404; }
#footer a { color: #ca1404; }
#sidebar-admin a { color: #ca1404; }
#sidebar a { color: #ca1404; }
